@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: sohne-var, "Helvetica Neue", Arial, sans-serif; */
  /* font-family: verdana,arial,sans-serif;; */
  /* color: #fff; */
  letter-spacing: 0.07rem;
}

/* input, textarea, select { font-family: 'Poppins', sans-serif; } */

body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-track {
  background-color: #000000;
  /* border-left: 1px solid #e9e5e5; */
}
 
::-webkit-scrollbar-thumb {
  background-color: #fefefe;
  border-radius: 100px;
}

:root {
  --primary-color: #b9b9b9;
  --primary-padding: 5px;
  --primary-margin: 2.5px 7.5px;
  --container-margin: 15px 0;
  --primary-radius: 5px;
}
